body {
  font-family: Cambria;
  letter-spacing: 1px;
  margin: 0px;
}

article {
  padding: 25px 400px 25px;
}

h1 {
  font-size: 48px;
  font-weight: lighter;
}

h3 {
  font-size: 24px;
  color: #757575;
  font-weight: lighter;
}

p {
  font-size: 21px;
  font-weight:lighter;
}

.notify {
  background-color:#f1f1f1;
  color: #292929;
  padding: 4px;
  justify-content: center;
}

.notify p {
  font-size: 16px;
  text-align: center;
}

.nav {
  background-color:#009c70;
  color: white;
  overflow:hidden;
  padding-left: 150px;
  text-align: center;
}

.nav li {
  float: left;
  list-style: none;
  padding: 16px;
  text-align: center;
  font-size:16px;
  font-weight:100;
}

#genre {
  font-size: 24px;
  padding-top:10px;
}
