body {
  font-family: Times;
  letter-spacing: 1px;
  margin: 0px;
}

article {
  padding: 25px 400px 25px;
  overflow: hidden;
}

h1 {
  font-size: 48px;
  font-weight: lighter;
}

h3 {
  font-size: 24px;
  color: #757575;
  font-weight: lighter;
}

p {
  font-size: 21px;
  font-weight:lighter;
}

.notify {
  background-color:#f1f1f1;
  color: #292929;
  padding: 4px;
  justify-content: center;
}

.notify p {
  font-size: 16px;
  text-align: center;
}

.nav {
  background-color:#009c70;
  color: white;
  overflow:hidden;
  padding-left: 150px;
  margin: 0px;
}

.nav li {
  float: left;
  list-style: none;
  padding: 16px;
  text-align: center;
  font-size:16px;
  font-weight:100;
}

#genre {
  font-size: 24px;
  padding-top:10px;
}

.auth {
  color: #009c70;
  background-color: white;
  padding: 10px 0px;
  overflow: hidden;
  font-size: 16px;
}

.auth img {
  padding-left: 150px;
  float: left;
}

.signIn {
  float: right;
  padding-right: 150px;
}

.signIn p {
  float: right;
  padding: 16px;
  margin: 0px;
}

.button {
  padding: 16px;
  float: right;
  color: #009c70;
  background-color: white;
  border: 1px solid #009c70;
  cursor: pointer;
  border-radius: 30px;
}

.author {
  overflow: hidden;
  margin: 20px 0px;
}

.author div {
  float: left;
  padding: 8px 4px;
  margin: 4px;
}

#tb {
  border-radius: 50%;
  border: 1px solid #009c70;
  height: 60px;
  width: 60px;
}

#info p {
  font-size: 16px;
  line-height: 7px;
}

#info p:last-child {
  color:grey;
}

.title h1 {
  margin-bottom: 0px;
}

.title h3{
  margin: 10px 0px;
}

.creds {
  text-align: center;
  font-size: 16px;
  color: grey;
  padding-bottom: 40px;
}

section p {
  margin-top: 8px;
  font-size: 22px;
  color: #292929;
  letter-spacing: 1px;
  line-height: 31px;
}

section h2 {
  font-size: 35px;
  font-weight: 500;
  font-family: Arial;
  margin: 0px 0px;
}

.br {
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 8px;
  font-weight: bolder;
}

.addIns {
  font-size: 22px;
  margin-top: 0px;
}

.addIns li {
  padding: 10px 0px;
}

iframe {
  width: 100%;
  height: 400px;
}

.subscribe {
  background-color: #f1f1f1;
  border-top: 3px solid #009c70;
  padding: 10px 30px;
}

.subscribe h4 {
  font-size: 26px;
}

.subscribe p {
  font-size: 14px;
  padding: 10px;
}

form {
  width: 100%;
  margin: 30px 0px;
  padding: 10px;
  overflow: hidden;
}

form input {
  width: 60%;
  background-color: inherit;
  border:none;
  border-bottom: 1px solid black;
  font-size: 22px;
}

.submit {
  font-size: 22px;
  width: 20%;
  background-color: #009c70;
  color: white;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid white;
  float: right;
  margin: 0px 20px;
}

.tags {
  margin-left:0px;
  padding-left: 0px;
  overflow: hidden;
}

.tags li {
  float: left;
  padding: 10px;
  list-style: none;
  background-color: #f1f1f1;
  color: black;
  border: 1px solid white;
  margin: 0px 5px;
}

.line {
  border-bottom: 1px solid #f1f1f1;
  margin: 30px 0px;
}

.related img {
  border-radius: 50%;
}

.related {
  overflow: hidden;
  width: 100%;
  padding: 5px 0px;
}

.related div {
  float: left;
  padding:10px;
  margin: 20px 0px;
}

.related div:last-child {
  width: 80%;
}

.subtext p {
  font-size: 16px;
  color: grey;
  margin: 8px;
}

.subtext h3 {
  color: black;
  font-weight: 500;
  margin: 8px;
}

footer {
  background-color: #000000e6;
  color:#ffffffb3;
}

.tabs {
  overflow: hidden;
  padding: 20px 120px;
}

.tabs div {
  float: left;
  width: 25%;
  padding: 20px;
  margin: 20px;
  font-family: sans-serif;
}

.tabs div h4 {
  color: white;
  margin: 0px;
  font-size:22px;
  font-weight: 400;
}

.tabs div p {
  font-size: 14px;
  margin-top: 8px;
  line-height: 1.3em;
}

.botNav {
  overflow: hidden;
  height: 100%;
}

.botNav li {
  float: right;
  color: white;
  padding: 8px 18px;
  margin: 8px;
  list-style: none;
}

.botNav li:first-child {
  float: left;
  margin-left: 120px;
  padding-left: 0px;
}
