body {
  font-family: Cambria;
  letter-spacing: 1px;
  margin: 0px;
}

article {
  padding: 25px 400px 25px;
}

h1 {
  font-size: 48px;
  font-weight: lighter;
}

h3 {
  font-size: 24px;
  color: #757575;
  font-weight: lighter;
}

p {
  font-size: 21px;
  font-weight:lighter;
}

.notify {
  background-color:#f1f1f1;
  color: #292929;
  padding: 4px;
  justify-content: center;
}

.notify p {
  font-size: 16px;
  text-align: center;
}

.nav {
  background-color:#009c70;
  color: white;
  overflow:hidden;
  padding-left: 150px;
  margin: 0px;
}

.nav li {
  float: left;
  list-style: none;
  padding: 16px;
  text-align: center;
  font-size:16px;
  font-weight:100;
}

#genre {
  font-size: 24px;
  padding-top:10px;
}

.auth {
  color: #009c70;
  background-color: white;
  padding: 10px 0px;
  overflow: hidden;
  font-size: 16px;
}

.auth img {
  padding-left: 150px;
  float: left;
}

.signIn {
  float: right;
  padding-right: 150px;
}

.signIn p {
  float: right;
  padding: 16px;
  margin: 0px;
}

.signIn button {
  padding: 16px;
  float: right;
  color: #009c70;
  background-color: white;
  border: 1px solid #009c70;
  cursor: pointer;
  border-radius: 30px;
}
